/* define some simple global styles */

section {
  margin-bottom: 2em;
}

section.bio {
  padding-top: 2em;
  height: 21em;
  background: #2199E8;
  color: white;
}

section.bio img {
  border-radius: 50%;
  margin-bottom: 1em;
  max-height: 128px;
  max-width: 128px;
  text-align: center;
}

section.bio tr,
section.bio table tbody tr:nth-child(even) {
  background: #2199E8;
}

section.search input {
  background-color: #F1F1F1;
  padding: 0.66em;
  max-width: 24em;
  width: 100%;
}

th { text-align: left; }

.clickable:hover {
  background: #2199E8;
  color: white;
  cursor: pointer;
}

.capitalize { text-transform: capitalize; }

.center-align { text-align: center; }
.center-align th { text-align: center; }
