/* define some simple global styles */

section {
  margin-bottom: 2em;
}

section.bio {
  padding-top: 2em;
  height: 21em;
  background: #2199E8;
  color: white;
}

section.bio img {
  border-radius: 50%;
  margin-bottom: 1em;
  max-height: 12em;
  max-width: 12em;
  text-align: center;
}

section.bio tr,
section.bio table tbody tr:nth-child(even) {
  background: #2199E8;
}

section.search {
  font-size: 2em;
  margin-bottom: 1em;
}

section.search .label {
  font-size: 1em;
}

th { text-align: left; }

.clickable:hover {
  background: #2199E8;
  color: white;
  cursor: pointer;
}

.capitalize { text-transform: capitalize; }

.center-align { text-align: center; }
.center-align th { text-align: center; }
