/* define some simple global styles */

section {
  margin-bottom: 2em;
}

section.bio {
  padding-top: 2em;
  height: 20em;
  background: #2199E8;
  color: #eee;
}

section.bio img {
  border-radius: 50%;
  float: right;
  max-height: 12em;
  max-width: 12em;
  margin-top: 1.66em;
}

section.search {
  font-size: 2em;
  margin-bottom: 1em;
}

section.search .label {
  font-size: 1em;
}

th { text-align: left; }

.capitalize { text-transform: capitalize; }
