<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Roster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body ng-app="roster">
    <section class="bio" ng-controller="bioCtrl">
      <div class="row">
        <div class="small-8 small-offset-2 medium-6 medium-offset-3 center-align columns">
          <h2 class="capitalize">{{currentPlayer.name}}</h2>
          <img src="{{currentPlayer.photo}}">
          <table>
            <tr>
              <th>BA</th>
              <th>HR</th>
              <th>RBI</th>
            </tr>
            <tr>
              <td>{{currentPlayer.battingAvg}}</td>
              <td>{{currentPlayer.hr}}</td>
              <td>{{currentPlayer.rbi}}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="search row">
      <div class="small-12 large columns">
        <input id="search" ng-model="searchTerm">
        <span class="label">Search</span>
      </div>
    </section>
    <section class="table row">
      <div class="small-12 columns">
        <table ng-controller="tableCtrl">
          <tr>
            <th>Player Name</th>
            <th>Phone Number</th>
            <th class="hide-for-small-only">Email Address</th>
            <th class="hide-for-small-only">Date of Birth</th>
          </tr>
          <tr class="clickable" ng-repeat="player in players | filter: searchTerm" ng-click="selectPlayer(player.id)">
            <td class="capitalize">{{player.name}}</td>
            <td>{{player.phone}}</td>
            <td class="hide-for-small-only">{{player.email}}</td>
            <td class="hide-for-small-only">{{player.dob}}</td>
          </tr>
        </table>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.12/angular.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
