<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tnez-roster</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css" />
  </head>
  <body>
    <p>yo yo yo (from template)</p>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
  </body>
</html>
